# Server
PORT=3000
NODE_ENV=development

# CORS
CORS_ORIGIN=*

# Mongo (Week 7)
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority&appName=<app>
MONGO_DBNAME=<db>

# Optional
LOG_LEVEL=info
